package components

import "github.com/milkymilky0116/go-todoapps/internal/db"
import "github.com/milkymilky0116/go-todoapps/views/components/card"

templ Todos(todos []db.Todo) {
	<ul id="todos" class="space-y-4">
		for _, todo := range todos {
			@card.Card(card.CardProps{
    Todo:todo,
    })
		}
	</ul>
}
